.ui.secondary.vertical.menu
  a.item ng-href="#/users/{{currentUser.id}}"
    = I18n.t('profile')
  a.item ng-href="#/settings"
    = I18n.t('settings')
  a.item ng-click="signOut()"
    = I18n.t('devise.sessions.sign_out')