form.ui.form name="user_form" ng-submit="update()" novalidate=""
  .fields
    .field
      label Email
      input name="email" ng-model="user.email" required="" type="email"
      .error ng-show="user_form.$submitted || user_form.email.$touched"
        span.error ng-show="user_form.email.$error.required"  required
        span.error ng-show="user_form.email.$error.email"  not valid email
    .field
      label Name
      input name="name" ng-model="user.name" type="text" required=""
      .error ng-show="user_form.$submitted || user_form.name.$touched"
        span.error ng-show="user_form.name.$error.required" required
  .fields
    .field
      label Password
      input name="password" ng-minlength="8" ng-model="user.password" required="" type="password"
      .error ng-show="user_form.$submitted || user_form.password.$touched"
        span.error ng-show="user_form.password.$error.required"  required
        span.error ng-show="user_form.password.$error.minlength" password is too short (minimum is 8 characters)
    .field
      label Password confirmation
      input name="password_confirmation" ng-minlength="8" ng-model="user.password_confirmation" required="" type="password" /
      .error ng-show="user_form.$submitted || user_form.password_confirmation.$touched"
        span.error ng-show="user_form.password_confirmation.$error.required"  required
        span.error ng-show="user_form.password_confirmation.$error.minlength"  password confirmation is too short (minimum is 8 characters)
  .actions
    input.btn.btn-default disabled="disabled" ng-disabled="user_form.$invalid" type="submit" value=("Sign Up") /
