.row
  .col-md-3
    .ui.card
      .image
        img src="{{user.avatars.medium}}"
      .content
        a.header
          | {{user.name}}
        .meta
          span.date Joined in 2013
      .content ng-if="currentUser != user"
        button.ui.button ng-click="follow" Follow
      .extra.content
        a
          i.user.icon
          | 22 Friends
  .col-md-9
    .deckgrid.posts.users deckgrid="" source="posts.posts" cardTemplate="#{asset_path('card.html')}" ng-if="posts.posts.length"
    div ng-if="!posts.posts.length"
      | На данный момент вы не добавили ни одного поста
