div.modal-header
  h3.modal-title= I18n.t(:hello)

div.modal-body
  .ui.comments
    .comment ng-repeat="comment in comments" ng-include="'#{asset_path('comment.html')}'"
  /.comment
  /  a.avatar
  /    img src="/images/avatar/small/matt.jpg" /
  /  .content
  /    a.author Matt
  /    .metadata
  /      span.date Today at 5:42PM
  /    .text
  /      | How artistic!
  /    .actions
  /      a.reply Reply
  /.comment
  /  a.avatar
  /    img src="/images/avatar/small/elliot.jpg" /
  /  .content
  /    a.author Elliot Fu
  /    .metadata
  /      span.date Yesterday at 12:30AM
  /    .text
  /      p This has been very useful for my research. Thanks as well!
  /    .actions
  /      a.reply Reply
  /  .comments
  /    .comment
  /      a.avatar
  /        img src="/images/avatar/small/jenny.jpg" /
  /      .content
  /        a.author Jenny Hess
  /        .metadata
  /          span.date Just now
  /        .text
  /          | Elliot you are always so right :)
  /        .actions
  /          a.reply Reply
  /.comment
  /  a.avatar
  /    img src="/images/avatar/small/joe.jpg" /
  /  .content
  /    a.author Joe Henderson
  /    .metadata
  /      span.date 5 days ago
  /    .text
  /      | Dude, this is awesome. Thanks so much
  /    .actions
  /      a.reply Reply
  /form.ui.reply.form
  /  .field
  /    textarea
  /  .ui.blue.labeled.submit.icon.button
  /    i.icon.edit
  /    | Add Reply

.modal-footer
  button.btn.btn-primary ng-click="ok()" OK
  button.btn.btn-warning ng-click="cancel()" Cancel
