<div class="modal-header">
    <h3 class="modal-title">Комментарии</h3>
</div>

<div class="modal-body">
    <div class="ui comments">
        <div class="comment" ng-repeat="comment in comments" ng-include="'templates/comment.html'">
        </div>

        <form class="ui reply form" ng-submit="addComment()">
            <div class="field">
                <input type="text" ng-model="comment">
            </div>
            <div class="ui blue labeled submit icon button" ng-click="addComment()">
                <i class="icon edit"></i> Add Reply
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
