<a class="avatar">
    <img src="" ng-src="{{comment.user.avatar_url}}">
</a>
<div class="content">
    <a class="author">{{comment.user.name}}</a>

    <div class="metadata">
        <span class="date">Today at 5:42PM</span>
    </div>
    <div class="text">{{comment.content}}</div>
    <div class="actions">
        <a class="reply">Reply</a>
    </div>
</div>
<div class="comments" ng-if="comment.comments">
    <div class="comment" ng-repeat="comment in comment.comments" ng-include="'templates/comment.html'">
    </div>
</div>