.modal-header
  h3.modal-title Добавление поста
.modal-body
  .ui.form
    .fields
      .field style=("width: 100%;")
        label= I18n.t :hello
        input ng-model="postData.title" placeholder=("Введите заголовок") type="text" /
    .dropzone dropzone="dropzoneConfig"
    .fields style=("margin-top: 10px;")
      .field style=("width: 100%;")
        label Описание
        textarea ng-model="postData.content" placeholder=("Введите описание")
.modal-footer
  button.btn.btn-primary ng-click="ok()"  OK
  button.btn.btn-warning ng-click="cancel()"  Cancel
