Twitter.controller('CommonCtrl', function ($scope, $modal, $log, $cookieStore, Session, $location, $rootScope) {
    $scope.currentUser = Session.currentUser;

    $scope.dropzoneConfig = {
        parallelUploads: 3,
        maxFileSize: 30
    };

    $scope.user = {};
    $scope.registration = Session.userRegistration;
    $scope.signedIn = Session.signedIn;
    $scope.session = Session.userSession;

    $scope.addPost = function (post) {
        $rootScope.$broadcast('addPost', post);
    };

    $scope.openCreatePostModal = function (size) {
        $rootScope.parentScope = $scope;

        var modalInstance = $modal.open({
            animation: true,
            templateUrl: '<%= asset_path('posts/new.html') %>',
            controller: 'CreatePostModalCtrl',
            size: size
        });

        modalInstance.result.then(function () {
            console.log('test');
        }, function () {
            $log.info('Modal dismissed at: ' + new Date());
        });
    };

    $scope.signUp = function () {
        $scope.registration.create($scope.user)
                .success(function (data) {
                    $scope.session.create($scope.user)
                            .success(function (data) {
                                $cookieStore.put('current_user', data);
                                $scope.signedIn = true;

                                $scope.currentUser = data;


                                $location.path('/');
                            }).error(function (data) {
                                console.log('error');
                            });
                }).error(function (data) {

                });
    };


    $scope.signIn = function () {
        $scope.session.create($scope.user)
                .success(function (data) {
                    $cookieStore.put('current_user', data);
                    $scope.signedIn = true;

                    $scope.currentUser = data;


                    $location.path('/');
                }).error(function (data) {
                    console.log('Войти не удалось!')
                });
    };

    $scope.signOut = function () {
        $scope.session.destroy().success(function () {
            $cookieStore.remove('current_user');

            $scope.signedIn = false;
            $scope.currentUser = undefined;

            $location.path('/');
        }).error(function (data) {
            console.log(data);
        });
    };
});

