Twitter.config(function ($routeProvider) {
    $routeProvider
            .when('/', {
                controller: 'MainCtrl',
                templateUrl: '<%= asset_path('index.html') %>'
            })
            .when('/registration', {
                templateUrl: '<%= asset_path('registration.html') %>'
            })
            .when('/login', {
                templateUrl: '<%= asset_path('login.html') %>'
            })
            .when('/profile', {
                controller: 'UsersCtrl',
                templateUrl: '<%= asset_path('users/show.html') %>'
            })
            .when('/settings', {
                controller: 'UsersCtrl',
                templateUrl: '<%= asset_path('users/edit.html') %>'
            })
            .when('/users/:id', {
                controller: 'UsersCtrl',
                templateUrl: '<%= asset_path('users/show.html') %>'
            })
            .when('/users/:id/edit', {
                controller: 'UsersCtrl',
                templateUrl: '<%= asset_path('users/edit.html') %>'
            })
});
