/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dropzone
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";

.posts {
  &.main {
    &.deckgrid[deckgrid]::before {
      content: '4 .column.column-1-4';
      font-size: 0;
      visibility: hidden;
    }

    &.deckgrid .column {
      float: left;
    }

    &.deckgrid .column-1-4 {
      width: 25%;
    }
  }

  &.users {
    &.deckgrid[deckgrid]::before {
      content: '3 .column.column-1-3';
      font-size: 0;
      visibility: hidden;
    }

    &.deckgrid .column {
      float: left;
    }

    &.deckgrid .column-1-3 {
      width: 33%;
    }
  }
}

.post .comment {
  form {
    margin-left: 20px;

    input {
      width: 100%;
    }
  }
}