.ui.card.post style="margin: 0 10px 10px 0; position: relative; width: auto;" ng-controller="PostCtrl"
  .content
    .right.floated.meta
      | {{card.created_at}}
    a ng-href="#/users/{{card.user.id}}"
      img.ui.avatar.image src="{{card.user.avatar_url}}"
      | {{card.user.name}}
  .content
    | {{card.title}}
  .image
    img src="{{card.image_url}}"
  .content
    span.right.floated tooltip-placement="top" tooltip-template=("'#{asset_path('likes/index.html')}'")
      i.heart.outline.like.icon
      | {{card.likes_count}} likes
    span ng-click="openCommentsModal(card)"
      i.comment.icon
      | {{card.comments_count}} comments
  .content
    | {{card.content}}
  .extra.content.comment
    .ui.large.transparent.left.icon.input
      i.heart.outline.icon
      form ng-submit="addComment(card)"
        input placeholder=("Add Comment...") ng-model="card.comment" type="text"