div
  div.row
    pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
  div.row
    .deckgrid.posts.main deckgrid="" source="postsData.posts" cardTemplate="#{asset_path('card.html')}"

