form.ui.form name="login_form" ng-submit="signIn()" novalidate=""
  .fields
    .field
      label Email
      input name="email" ng-model="user.email" type="email"
      .error
        span.error ng-show="login_form.email.$error.required"  required
        span.error ng-show="login_form.email.$error.email"  not valid email
    .field
      label Password
      input name="password" ng-model="user.password" type="password"
      .error
        span.error ng-show="login_form.password.$error.required"  required
  .actions
    input.btn.btn-default disabled="disabled" ng-disabled="login_form.$invalid" type="submit" value=("Log In")
