nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand MiniTwitter
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a href="#/"
            | Главная
            span.sr-only (current)
      ul.nav.navbar-nav.navbar-right
        li.profile ng-if="currentUser"
          a style="padding-top: 11px; padding-bottom: 11px;" popover-placement="bottom" popover-template="'#{asset_path('popover/profile_actions.html')}'"
            img class="ui avatar image" src="https://36.media.tumblr.com/4326a61ff64acdea2cf132d906806c53/tumblr_nifu18qRMA1sm4mbeo1_540.jpg"
            span
              | {{currentUser.name}}
        li ng-if="currentUser"
          a ng-click="openCreatePostModal()"
            i class="external icon"
            = I18n.t('posts.create')
        li ng-if="!currentUser"
          a href="#/login"= I18n.t('devise.sessions.sign_in')
        li ng-if="!currentUser"
          a href="#/registration"= I18n.t('devise.registrations.label')

