<!DOCTYPE html>
<html ng-app="twitterApp">
<head>
  <title>MiniTwitter</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="CommonCtrl">

<div ng-include="'<%= asset_path('navbar.html') %>'"></div>

<div class="container" style="margin-top: 60px;">
  <div ng-view></div>
</div>

</body>
</html>
